body {
    background-color: hsl(218, 23%, 16%);
    max-width: 1440px;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.parent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: hsl(217, 19%, 24%);
    height: 200px;
    width: 400px;
    position: relative;
    border-radius: 15px;
    padding: 20px 40px 60px 40px;
    text-align: center;
    color: hsl(150, 100%, 66%);
}

.pause-desktop {
    display: flex;
}

.pause-mobile {
    display: none;
}

#advice-data {
    font-size: 14px;
    font-weight: 200;
}

.dice-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: hsl(150, 100%, 66%);
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dice-container:hover {
    box-shadow: 0 0 25px 2px hsl(150, 100%, 66%) ;
}

.dice-image {
    width: 20px;
    height: 20px;
}

@media (max-width: 540px) {
    body {
        display: flex;
        align-items: flex-start;
        overflow-x: hidden;
        margin: 0 auto;
        padding: 0px;
    }

    .parent {
      margin-top: 30%;
      width: 80vw;
      margin-left: 20px;
      margin-right: 20px;
    }

    .pause-mobile {
        display: block;
    }
    .pause-desktop {
        display: none;
    }

  }
